/* * {
  border: 1px solid red !important;
} */

body {
  background-color: #eceeee;
  margin: 0;
}

header, footer {
  background-color: #2a4658;
}

.container {
  display: flex;
  justify-content: center;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
}

nav li {
  margin-right: 7%;
}

a {
  text-decoration: none;
}

nav a, footer a {
  color: #e3d338;
}

h1 {
  width: 32%;
  color: white;
  margin-left: 9%;
}

nav {
  width: 68%;
}

#posts {
  width: 61%;
  margin-top: 3%;
  margin-right: 3%;
}

#posts article:first-child {
  border-bottom: #bcbfc2 solid 2.5px;
}

#posts p {
  color: #8b8787;
  line-height: 23px;
}

#posts p:last-child {
  display: flex;
  justify-content: flex-end;
}

article a {
  color:#334f61;
  font-weight: bold;
}

.first-character {
  color: #676667;
  float: left;
  font-size: 4rem;
  line-height: 72px;
  padding-right: 1%;
}

aside {
  width: 19%;
  margin: 1%;
}

aside h3 {
  color: #294658;
  font-weight: bolder;
}

#sidebar ul {
  list-style: none;
  padding-left: 1.5%;
}

#sidebar a {
  color: #576373;
}

#sidebar p {
  color: #5c6678;
}

#sidebar p a {
  color: #334f61;
  font-weight: bolder;
}

#bottom-cta {
  margin-left: 9%;
  font-size: 1.5rem;
}

#bottom-cta a {
  background-color: white;
  color: #334f61;
}

h4 {
  color: white;
  text-align: center;
  font-size: 1.2rem;
  margin: 12px 0;
  padding-top: 12px;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin-right: 4%;
  margin-top: 0;
  margin-bottom: 0;
}

footer li {
  margin-left: 2%;
}

footer p {
  margin-top: 0.5%; 
  margin: 0;
  color: white;
  text-align: center;
  padding-bottom: 12px;
}
